body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1341px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:81px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u783 {
  position:absolute;
  left:-4px;
  top:0px;
  width:1349px;
  height:81px;
}
#u784 {
  position:absolute;
  left:2px;
  top:32px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1147px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u785 {
  position:absolute;
  left:198px;
  top:1531px;
  width:1147px;
  height:36px;
}
#u786 {
  position:absolute;
  left:2px;
  top:10px;
  width:1143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u787 {
  position:absolute;
  left:73px;
  top:117px;
  width:72px;
  height:72px;
}
#u788 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u789 {
  position:absolute;
  left:88px;
  top:199px;
  width:45px;
  height:16px;
  color:#1E1E1E;
}
#u790 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u791 {
  position:absolute;
  left:217px;
  top:1541px;
  width:386px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u792 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  white-space:nowrap;
}
#u793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u793 {
  position:absolute;
  left:774px;
  top:1541px;
  width:571px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u794 {
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  word-wrap:break-word;
}
#u795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u795 {
  position:absolute;
  left:85px;
  top:27px;
  width:176px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u796 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:29px;
}
#u797 {
  position:absolute;
  left:39px;
  top:28px;
  width:36px;
  height:28px;
}
#u798 {
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  word-wrap:break-word;
}
#u799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:22px;
}
#u799 {
  position:absolute;
  left:154px;
  top:26px;
  width:15px;
  height:22px;
  font-family:'Times New Roman Normal', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u800 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:777px;
}
#u801 {
  position:absolute;
  left:230px;
  top:82px;
  width:1px;
  height:776px;
}
#u802 {
  position:absolute;
  left:2px;
  top:380px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u803 {
  position:absolute;
  left:1124px;
  top:29px;
  width:23px;
  height:23px;
}
#u804 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u805 {
  position:absolute;
  left:1189px;
  top:33px;
  width:43px;
  height:16px;
  color:#FFFFFF;
}
#u806 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:82px;
}
#u807 {
  position:absolute;
  left:1084px;
  top:0px;
  width:1px;
  height:81px;
}
#u808 {
  position:absolute;
  left:2px;
  top:32px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:8px;
}
#u809 {
  position:absolute;
  left:1296px;
  top:37px;
  width:13px;
  height:8px;
}
#u810 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
}
#u811 {
  position:absolute;
  left:48px;
  top:584px;
  width:146px;
  height:40px;
  color:#A1A1A1;
  text-align:center;
  line-height:20px;
}
#u812 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u813 {
  position:absolute;
  left:1084px;
  top:80px;
  visibility:hidden;
}
#u813_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u813_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u814 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u814_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u814.mouseOver {
}
#u815 {
  position:absolute;
  left:28px;
  top:22px;
  width:231px;
  word-wrap:break-word;
}
#u816 {
  position:absolute;
  left:1084px;
  top:0px;
  width:261px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u817 {
  position:absolute;
  left:0px;
  top:263px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u817_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u817.mouseOver {
}
#u817_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u817.selected {
}
#u818 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:42px;
}
#u819 {
  position:absolute;
  left:270px;
  top:127px;
  width:325px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:42px;
}
#u820 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  white-space:nowrap;
}
#u821 {
  position:absolute;
  left:718px;
  top:185px;
  visibility:hidden;
}
#u821_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u821_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:481px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:18px;
  color:#666666;
}
#u822 {
  position:absolute;
  left:0px;
  top:5px;
  width:785px;
  height:481px;
  font-size:18px;
  color:#666666;
}
#u823 {
  position:absolute;
  left:2px;
  top:12px;
  width:781px;
  word-wrap:break-word;
}
#u824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u824 {
  position:absolute;
  left:434px;
  top:424px;
  width:90px;
  height:28px;
  color:#666666;
}
#u825 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u826 {
  position:absolute;
  left:307px;
  top:424px;
  width:90px;
  height:28px;
  color:#FFFFFF;
}
#u827 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:2px;
}
#u828 {
  position:absolute;
  left:0px;
  top:55px;
  width:785px;
  height:1px;
}
#u829 {
  position:absolute;
  left:2px;
  top:-8px;
  width:781px;
  visibility:hidden;
  word-wrap:break-word;
}
#u830 {
  position:absolute;
  left:72px;
  top:79px;
  width:100px;
  height:16px;
}
#u831 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u830_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u832 {
  position:absolute;
  left:95px;
  top:95px;
  width:159px;
  height:16px;
}
#u833 {
  position:absolute;
  left:16px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u832_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u834 {
  position:absolute;
  left:95px;
  top:111px;
  width:100px;
  height:16px;
}
#u835 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u834_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u836 {
  position:absolute;
  left:95px;
  top:127px;
  width:100px;
  height:16px;
}
#u837 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u836_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u838 {
  position:absolute;
  left:72px;
  top:153px;
  width:100px;
  height:16px;
}
#u839 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u838_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u840 {
  position:absolute;
  left:95px;
  top:169px;
  width:159px;
  height:16px;
}
#u841 {
  position:absolute;
  left:16px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u840_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u842 {
  position:absolute;
  left:95px;
  top:201px;
  width:100px;
  height:16px;
}
#u843 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u842_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u844 {
  position:absolute;
  left:72px;
  top:378px;
  width:100px;
  height:16px;
}
#u845 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u844_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u846 {
  position:absolute;
  left:72px;
  top:226px;
  width:100px;
  height:16px;
}
#u847 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u846_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u848 {
  position:absolute;
  left:95px;
  top:242px;
  width:159px;
  height:16px;
}
#u849 {
  position:absolute;
  left:16px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u848_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u850 {
  position:absolute;
  left:95px;
  top:185px;
  width:159px;
  height:16px;
}
#u851 {
  position:absolute;
  left:16px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u850_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u852 {
  position:absolute;
  left:95px;
  top:274px;
  width:100px;
  height:16px;
}
#u853 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u852_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u854 {
  position:absolute;
  left:95px;
  top:258px;
  width:159px;
  height:16px;
}
#u855 {
  position:absolute;
  left:16px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u854_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u821_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u821_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:481px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:18px;
  color:#666666;
}
#u856 {
  position:absolute;
  left:0px;
  top:5px;
  width:785px;
  height:481px;
  font-size:18px;
  color:#666666;
}
#u857 {
  position:absolute;
  left:2px;
  top:12px;
  width:781px;
  word-wrap:break-word;
}
#u858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u858 {
  position:absolute;
  left:434px;
  top:424px;
  width:90px;
  height:28px;
  color:#666666;
}
#u859 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u860 {
  position:absolute;
  left:307px;
  top:424px;
  width:90px;
  height:28px;
  color:#FFFFFF;
}
#u861 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:2px;
}
#u862 {
  position:absolute;
  left:0px;
  top:55px;
  width:785px;
  height:1px;
}
#u863 {
  position:absolute;
  left:2px;
  top:-8px;
  width:781px;
  visibility:hidden;
  word-wrap:break-word;
}
#u864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u864 {
  position:absolute;
  left:75px;
  top:75px;
  width:29px;
  height:16px;
}
#u865 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u866 {
  position:absolute;
  left:167px;
  top:75px;
  width:43px;
  height:16px;
}
#u867 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u868 {
  position:absolute;
  left:68px;
  top:91px;
  width:43px;
  height:72px;
  line-height:36px;
}
#u869 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u870 {
  position:absolute;
  left:276px;
  top:75px;
  width:29px;
  height:16px;
}
#u871 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u872 {
  position:absolute;
  left:154px;
  top:91px;
  width:89px;
  height:72px;
  line-height:36px;
}
#u873 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u874 {
  position:absolute;
  left:0px;
  top:449px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u874_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u874.mouseOver {
}
#u874_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u874.selected {
}
#u875 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u876 {
  position:absolute;
  left:253px;
  top:169px;
  width:71px;
  height:108px;
  line-height:36px;
}
#u877 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u878 {
  position:absolute;
  left:391px;
  top:169px;
  width:99px;
  height:36px;
  line-height:36px;
}
#u879 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u880 {
  position:absolute;
  left:558px;
  top:169px;
  width:121px;
  height:108px;
  line-height:36px;
}
#u881 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u882 {
  position:absolute;
  left:0px;
  top:325px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u882_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u882.mouseOver {
}
#u882_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u882.selected {
}
#u883 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u884 {
  position:absolute;
  left:0px;
  top:387px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u884_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u884.mouseOver {
}
#u884_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u884.selected {
}
#u885 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u886 {
  position:absolute;
  left:623px;
  top:171px;
  width:58px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u887 {
  position:absolute;
  left:555px;
  top:169px;
  width:58px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
